			<div class="row">
				<main class="col-md-12">



					<!-- Start your code here -->
					<section>
						<h1>HTML5 Demonstration</h1>
						<p>
							This page demonstrates the use of various HTML5 elements and techniques. 
							HTML5 provides a number of new features and improvements over previous versions, including new semantic elements, multimedia support, and more.
						</p>
					</section>
			
					<section>
						<h2>Tables</h2>
						<caption>Table 1</caption>
						<table>
							<thead>
								<tr>
									<th>Sr No</th>
									<th>First Name</th>
									<th>Last Name</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td rowspan="2">Jayshivam</td>
									<td></td>
								</tr>
								<tr>
									<td>2</td>
									<td>Thakkar</td>
								</tr>
								<tr>
									<td colspan="2">3</td>
									<td>Shukla</td>
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<td>First Name is mandatory</td>
								</tr>
							</tfoot>
						</table>
						<p>The above table demonstrate student names</p>
						<hr>
						<caption>Table 2</caption>
						<table>
							<thead>
								<tr>
									<th>Sr No</th>
									<th>Item Name</th>
									<th>Price</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>Milk</td>
									<td>$6.59</td>
								</tr>
								<tr>
									<td>2</td>
									<td colspan="2">Bread</td>
								</tr>
								<tr>
									<td rowspan="2">3</td>
									<td>Raw Bananas</td>
									<td>$3.50</td>
								</tr>
								<tr>
									<td>Fresh Bananas</td>
									<td>$4.25</td>
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<td>Price is in CAD $</td>
								</tr>
							</tfoot>
						</table>
						<p>The above table demonstrate various grocery items and their prices</p>
					</section>
			
					<section>
						<h2>Lists</h2>
						<ul>
							<li>OSM720</li>
							<li>WEB700
								<ol>
									<li>node.js</li>
									<li>express.js</li>
									<li>HTML & CSS</li>
								</ol>
							</li>
							<li>NWK780</li>
							<li>PMC700</li>
							<li>DBS710</li>
						</ul>
						<p>The above list demonstrates nested lists with different courses in BTT program</p>
					</section>
			
					<section>
						<h2>Images</h2>
						<img src="https://upload.wikimedia.org/wikipedia/commons/6/69/Snowboarder_in_halfpipe.jpg" alt="Snowboarder in halfpipe">
						<img src="https://upload.wikimedia.org/wikipedia/commons/4/47/PNG_transparency_demonstration_1.png" alt="PNG transparency demonstration">
						<img src="https://upload.wikimedia.org/wikipedia/commons/a/a7/React-icon.svg" alt="React Icon">
						<p>The above images are examples of images with alt text to demonstrate the use of the img tag in HTML5.</p>
					</section>
			
					<section>
						<h2>Audio</h2>
						<audio controls>
							<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.mp3" type="audio/mpeg">
							<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.ogg" type="audio/ogg">
						</audio>
						<p>The above audio player demonstrates the use of the audio tag in HTML5, allowing the embedding of audio files directly into web pages.</p>
					</section>
			
					<section>
						<h2>Video</h2>
						<video controls>
							<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.mp4" type="video/mp4">
							<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.ogg" type="video/ogg">
							<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.webm" type="video/webm">
						</video>
						<p>The above video player demonstrates the use of the video tag in HTML5, allowing the embedding of video files directly into web pages.</p>
					</section>
					<!-- End your code here  -->



				</main>
			</div>